<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Bermmarizer">
    <meta name="keywords" content="요약기, summarize, BERT, text, 문서">
    <meta name="description" content="NLP 모델 중 하나인 BERT의 summarizer를 이용한 문서 요약 사이트입니다.">
    <title>Bermmarizer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4f86bf3474.js" crossorigin="anonymous"></script>
<<<<<<< HEAD
    <script type = "text/javascript" src="js/script.js"></script>
=======
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>

    <section class="top">
        <div>
            <a href="/"><strong>Bermmarizer</strong></a>
        </div>
        <div>
            <ul class="icon">
                <li><a href="https://github.com/yuyamuyaho"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>
    </section>

    <section class="mid">
<<<<<<< HEAD

=======
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
        <div class="notice">
            <p>요약할 텍스트가 본문으로 있는 URL을 작성해주세요.</p>
            <p class="notice2">URL 방식은 영어, 한국어 텍스트가 가능합니다. 만약 URL에서 본문을 찾아내지 못할 시 원문을 입력하세요.</p>
        </div>
<<<<<<< HEAD

        <form id="Form" action="/turl" method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="http(s)://" name="text_url" id="ur" 
                    aria-label="link input" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
            </div>
        </form>

        <div class="textzone">
            <form id="Form" action="/" method="POST">

=======
        <form id="Form" action="/turl" method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="http(s)://" name="text_url" aria-label="link input"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Button</button>
            </div>
        </form>
        <div class="textzone">
            <form id="Form" action="/" method="POST">
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
                <div class="form-floating">
                    <textarea class="form-control" placeholder="원문" name="plain" id="floatingTextarea2"></textarea>
                    <label for="floatingTextarea2">원문</label>
                </div>
<<<<<<< HEAD

=======
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
                <div class="form-floating2">
                    <textarea class="form-control" placeholder="요약문" readonly="readonly" id="fta"></textarea>
                </div>

                <span class="btnn">
<<<<<<< HEAD

=======
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
                    <div class="form-check2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="three" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                세 문장으로 요약하기
                            </label>
                        </div>
                    </div>
<<<<<<< HEAD

                    <button type="submit" class="btn btn-primary" id="plainbtn"><i
                            class="fas fa-arrow-right"></i></button>

                </span>

                <button class="cpy" onclick="myFunction()" >
                    <span class="tooltiptext" id="myTooltip">
                        <i class="fas fa-copy"></i>
                    </span>
                </button>

            </form>
        </div>
    </section>

=======
                    <button type="submit" class="btn btn-primary" id="plainbtn"><i
                            class="fas fa-arrow-right"></i></button>
                </span>
            </form>
        </div>
    </section>
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
    <section class="bot">
        <div>
            연락처: zsr12383@gmail.com
        </div>
    </section>
<<<<<<< HEAD

=======
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
</body>

</html>