body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}
a{
    text-decoration: none;
    color:bisque;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    font-size: 24px;
    padding: 0.5rem 1rem ;
}

.icon{
    list-style: none;
    color: bisque;
    display: flex;
}

.icon > li{
    padding: 1rem 0.75rem 0.25rem;
}

.mid{
    text-align: center;
    margin: 2% 12%;
    height: 75vh;
    width: 850px;
    
}
.notice{
    margin-bottom: 2rem; 
}
.textzone{
    margin-top: 2rem;
}
#floatingTextarea2{
    height: 50vh; 
    width: 425px; 
    float: left;
}
#fta{
    height: 50vh; 
    width: 425px; 
    float: left;
}
.form-check2{
    float: left;
    margin-top : 2vh;
}
#plainbtn{
    padding-left: 100px;
    margin-right: 302px;
    margin-top : 1.5vh;
} 