body {
<<<<<<< HEAD
    height: 100vh;
    background: url(../images/333.jpg) no-repeat center center/cover;      
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: inset 50px 30px 250px 30px #5a4f4f;
}

=======
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
a{
    text-decoration: none;
    color:bisque;
}
<<<<<<< HEAD

.top {
    display: flex;
    justify-content: space-between;                     
    align-items: center;
    background-color: rgba(38, 51, 67,0.9);
=======
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
    font-size: 24px;
    padding: 0.5rem 1rem ;
}

.icon{
    list-style: none;
    color: bisque;
    display: flex;
}

.icon > li{
    padding: 1rem 0.75rem 0.25rem;
}

.mid{
<<<<<<< HEAD
    
=======
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
    text-align: center;
    margin: 5vh auto;
    height: 75vh;
    width: 60%;
}
<<<<<<< HEAD

.bot{
    position: sticky;
    color:bisque;   
    bottom:0;
    width: fit-content;
}

.notice{
    margin-bottom: 2rem; 
}

.textzone{
    margin-top: 2rem;
}

#ur{

    background-color: rgba( 255, 255, 255, 0.5 );       
}

#floatingTextarea2{ 
=======
.bot{
    position: sticky;
    bottom:0;
    width: fit-content;
}
.notice{
    margin-bottom: 2rem; 
}
.textzone{
    margin-top: 2rem;
}
#floatingTextarea2{
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
    height: 50vh; 
    width: 50%; 
    float: left;
    resize: none;
<<<<<<< HEAD

    background-color: rgba( 255, 255, 255, 0.5 );
}

#fta{   
=======
}
#fta{
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
    height: 50vh; 
    width: 50%; 
    float: left;
    resize: none;
<<<<<<< HEAD

    background-color: rgba( 255, 255, 255, 0.5 );
}

=======
}
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
.btnn{
    float: left;
    width: 50%;
}
<<<<<<< HEAD

=======
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
.form-check2{
    float: left;
    margin-top : 3vh;
}
<<<<<<< HEAD

#plainbtn{
    float:right;
    padding-left: 15%;      
    margin-top : 2vh;
    border: none;
    background-color: rgba(83, 69, 134, 0.5);
}

.cpy{
    border: none;
    float:right;
    font-size: 24px;    
    border-radius: 8px;
    margin-top: 1vh;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgba( 255, 255, 255, 0.5 );
    color: rgb(133, 132, 132);
}

#flexCheckDefault{  
    opacity: 75%;
}

@media all and (max-width:800px){

    .notice2{
        display:none;
    }

=======
#plainbtn{
    float:right;
    padding-left: 15%;
    margin-top : 2vh;
}
@media all and (max-width:800px){
    .notice2{
        display:none;
    }
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
    .mid{
        margin: 5vh auto;
        height: 75vh;
        width: 90%;
    }
<<<<<<< HEAD

=======
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
    #floatingTextarea2{
        height: 25vh;
        width: 100%;
        resize: none;
    }
<<<<<<< HEAD

=======
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
    #fta{
        height: 25vh; 
        width: 100%;
        resize: none;
    }
<<<<<<< HEAD

    .btnn{
        width: 100%;
    }

=======
    .btnn{
        width: 100%;
    }
>>>>>>> d371e5a441c0761b6195a60b5e932c047b881e9a
}